.git
.gitignore
.github
node_modules
vendor
.vite
public/build
public/hot
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
.env
.env.*
*.md
_lwtmp
docker-compose.yml
